node_data/.flows.json.backup
[
    {
        "id": "eebc86d57f4bf584",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9fc54b6bf970bec",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.0.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1270b569dc8c70c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "telegraf_mqtt_mosquitto_1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "84ebbb3e37b2f0ad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5675688fa5682765",
        "type": "mqtt out",
        "z": "eebc86d57f4bf584",
        "name": "",
        "topic": "telegraf",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1270b569dc8c70c",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4ebc969002090f6",
        "type": "inject",
        "z": "eebc86d57f4bf584",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"newEvent\":[{\"metaData\":[{\"name\":\"nw_id\",\"value\":\"2222222\"},{\"name\":\"varindex\",\"value\":\"103\"},{\"name\":\"datasource\",\"value\":\" \"},{\"name\":\"datavalue\",\"value\":\"1\"},{\"name\":\"created_at\",\"value\":\"1632232201814\"},{\"name\":\"warning\",\"value\":\"0\"},{\"name\":\"sysmode\",\"value\":\"9\"},{\"name\":\"varfunction\",\"value\":\"some-window-switch\"},{\"name\":\"varname\",\"value\":\"state\"},{\"name\":\"instance_\",\"value\":\"new created Room\"},{\"name\":\"mediatype\",\"value\":\"some-window-switch/state\"},{\"name\":\"last_datavalue\",\"value\":\"0\"},{\"name\":\"std_units\",\"value\":\"Open|Closed\"},{\"name\":\"raw_units\",\"value\":\"Boolean\"},{\"name\":\"category\",\"value\":\"secure\"},{\"name\":\"encryption\",\"value\":\"0\"}],\"mediaType\":\"somesensor/Window\",\"bs\":1111111111111,\"siteId\":\"99999999999999\",\"deviceId\":\"18\",\"instanceName\":\"new created Room\",\"lastValue\":\"0\",\"lastDuration\":\"1394947\",\"value\":\"1\"}],\"count\":0}",
        "payloadType": "json",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "043c914af03a572a"
            ]
        ]
    },
    {
        "id": "273f094d9cf385e6",
        "type": "mqtt in",
        "z": "eebc86d57f4bf584",
        "name": "",
        "topic": "transformed",
        "qos": "2",
        "datatype": "auto",
        "broker": "b1270b569dc8c70c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0d8a5ca8fbf6715c",
        "type": "debug",
        "z": "eebc86d57f4bf584",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "043c914af03a572a",
        "type": "json",
        "z": "eebc86d57f4bf584",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "70a11821eaa3a53d",
                "0d8a5ca8fbf6715c"
            ]
        ]
    },
    {
        "id": "70a11821eaa3a53d",
        "type": "json",
        "z": "eebc86d57f4bf584",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "5675688fa5682765"
            ]
        ]
    }
]