node_data/flows.json
[
    {
        "id": "eebc86d57f4bf584",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9fc54b6bf970bec",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.0.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1270b569dc8c70c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "telegraf_mqtt_mosquitto_1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "84ebbb3e37b2f0ad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a304f6bc5e1c469f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.220",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5675688fa5682765",
        "type": "mqtt out",
        "z": "eebc86d57f4bf584",
        "name": "",
        "topic": "telegraf",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1270b569dc8c70c",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4ebc969002090f6",
        "type": "inject",
        "z": "eebc86d57f4bf584",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"d\":{\"Battery_Voltage\":\"2.90 V\",\"Device_Type\":\"Advanced Vibration Meter\",\"Internal_State\":\"False\",\"Is_Current\":\"True\",\"Radio_Signal_Strength\":\"-32 db\",\"Sensor_ID\":\"730952\",\"Sensor_Number\":\"730952\",\"Time_of_Reading\":\"2021-10-10T17:47:47+00:00\",\"Units\":[\"mm/s\",\"mm/s\",\"mm/s\",\"Hz\",\"Hz\",\"Hz\",\"\",\"deg. C\",\"Percent\",\"\",\"\",\"\"],\"Values\":[0,0,0,0,0,0,0,26,0,1.41,1.41,1.41],\"Vstamp\":\"45bbf7a389cf501a08d9540dcd7a8c1dbec5c80d3f9899e5c3829fd6aef94fd3\",\"Vstring\":\"730952[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 26.0, 0, 1.41, 1.41, 1.41]False2021-10-10T17:47:47+00:00\"}}",
        "payloadType": "json",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "043c914af03a572a"
            ]
        ]
    },
    {
        "id": "273f094d9cf385e6",
        "type": "mqtt in",
        "z": "eebc86d57f4bf584",
        "name": "",
        "topic": "inference",
        "qos": "2",
        "datatype": "auto",
        "broker": "a304f6bc5e1c469f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "0d8a5ca8fbf6715c"
            ]
        ]
    },
    {
        "id": "0d8a5ca8fbf6715c",
        "type": "debug",
        "z": "eebc86d57f4bf584",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "043c914af03a572a",
        "type": "json",
        "z": "eebc86d57f4bf584",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "70a11821eaa3a53d"
            ]
        ]
    },
    {
        "id": "70a11821eaa3a53d",
        "type": "json",
        "z": "eebc86d57f4bf584",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "5675688fa5682765"
            ]
        ]
    }
]